{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Guest</title>
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<body>
    <div>
		<h1>ADD GUEST</h1>
	</div>
	<form action="add">
		ID :<input type="text" name="id"><br><br>
		Name  :<input type="text" name = "name"> <br><br>
		Email :<input type="email" name="email"><br><br>
		Age :<input type="number" name="age"><br><br>
		Phone :<input type="text" name="phone"><br><br>
		Aadhar no. :<input type="text" name="aadhar"><br><br>
		Address :<input type="text" name="address"><br><br>
		Room no. :<input type="text" name="room"><br><br>
		Paid Amount :<input type="number" name="amount"><br><br>
		Date :<input type="text" name="date"><br><br>	
		<input type="submit" id="sub">
		<button id="b"><a href="{% url 'pgproject:home' %}">Back Home</a></button>
	</form>

</body>
</html>