{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Guest</title>
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
</head>
<body>
    <div>
		<h1>DELETE GUEST</h1>
	</div>
	<form action="delete">
		ID :<input type="number" name="age"><br><br>
		<input type="submit" id="sub">
        <button id="b"><a href="{% url 'pgproject:home' %}">Back Home</a></button>
	</form>
</body>
</html>