{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp Validation</title>
    <link rel="stylesheet" href="{% static 'otp.css' %}">
</head>
<body>
    <div class="container">
        <header>
          <i class="bx bxs-check-shield"></i>
        </header>
        <h4>Enter OTP Code</h4>
        <form action="#">
          <div class="input-field">
            <input type="number" />
            <input type="number"/>
            <input type="number"/>
            <input type="number"/>
          </div>
          <button>Verify OTP</button>
        </form>
      </div>
</body>
</html>